body{
    margin: 0;
    background: #181818;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

h1,h2,h3,h4,h5,h6{
    color: white;
}

h1{
    font-size: 60px;
    letter-spacing: 2px;
    margin: 10% 0 0 0;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.8px;
}

h3{
    font-size: 50px;
    letter-spacing: 1.8px;
    margin: 10% 0 0 0;
}

.title-note{
    font-size: 20px;
    padding: 0 10px;
}

.button{
    color: white;
    border: solid 2px white;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
}

.button:hover{
    color: #A0F;
    border-color: #A0F;
    transition: 0.2s;
    cursor: pointer;
}

.game{
    opacity: 0;
    transition: 0.5s ease;
}

/*-----------INTRO-------------*/

.intro-punchline{
    font-size: 18px;
    text-align: center;
    margin: 0;
}

#intro-background{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    filter: brightness(0.4) blur(5px);
    -webkit-filter: brightness(0.4) blur(5px);
    -moz-filter: brightness(0.4) blur(5px);   
}

.intro__content{
    z-index: 99999;
}

.intro-button{
    margin: auto;
}

.intro-logo{
    text-align: center;
}

.intro-details{
    margin-top: 5%;
}

.intro-logo__color{
    background: -webkit-linear-gradient(left top, #A0F, #F00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-span{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);   
}

/*------------GIFS-------------*/

#gif__conainer{
    max-width: 100vw;
}

.gif__image{
    width: 25vw;
    height: 85vh;
    float: left;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 1;
    animation: opacity-animate 0.7s cubic-bezier(1,.01,.65,1) ;
}


/*--------GAME MECHANINC----------*/

.timer-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 20px;
    background: -webkit-linear-gradient(left, #A0F, #F00);
    z-index: 1;
    transition: 0.2s ease;
    box-shadow: 0px 0px 10px #444;
}

input{
    float: left;
}

.gif__answer-text{
    width: 60vw;
    height: 13vh;
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 6vh;
    font-weight: 600;
    color: white;
}

input:focus {
   outline:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #444;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #444;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #444;
}
:-moz-placeholder { /* Firefox 18- */
  color: #444;
}


@keyframes overlay-animate {
    from {opacity: 0; transform: scale(0.8);}
    to {opacity: 1; transform: scale(1);}
}

@keyframes opacity-animate {
    from {opacity: 0; height: 0;}
    to {opacity: 1; height: 85vh;}
}


/*-----------OVERLAY------------*/

.overlay{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    opacity: 1;
    animation: overlay-animate 0.3s ease ;
}
/*---------BREAKPOINT-----------*/

@media (max-width:767px) { 
    h1{
        font-size: 30px;
    }
    .gif__image{
        width: 100vw;
        height: 20vh;
    }
}