body{
    margin: 0;
    background: #181818;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    max-height: 100vh;
}

h1,h2,h3,h4,h5,h6,p{
    color: white;
}

a, p{
    font-weight: 500;
}

h1{
    font-size: 60px;
    letter-spacing: 2px;
    margin: 20vh 0 0 0;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.8px;
}

h3{
    font-size: 50px;
    margin: 20vh 0 0 0;
}

h4{
    font-size: 20px;
    font-weight: lighter;
    margin: 10px 0;
}

.title-note{
    font-size: 20px;
    padding: 0 10px;
    animation: overlay-animate 0.4s ease 0.7s 3;
    
}

.image-animate{
    animation: image-animate 0.6s ease;
}

.image-icon{
    max-width: 200px;
}

.title-note-xs{
    letter-spacing: 2px;
    font-size: 12px;
    padding: 0 15px;
    margin: 10px 0;
}

.title-note-big{
    font-size: 38px;
}

.button{
    color: white;
    border: solid 2px white;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
}

.button:hover{
    color: #A0F;
    border-color: #A0F;
    transition: 0.2s;
    cursor: pointer;
}

.game{
    opacity: 0;
    transition: 0.5s ease;
}

/*-----------INTRO-------------*/

.intro__overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 1;
    transition: 0.5s ease;
    z-index: 99999;
}

.intro__overlay--disable{
    opacity: 0;
    z-index: -1;
}

.intro-punchline{
    font-size: 18px;
    text-align: center;
    margin: 0;
    font-weight: 500;
}
 
#intro-background{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    filter: brightness(0.25);
    -webkit-filter: brightness(0.25);
    -moz-filter: brightness(0.25);  
    animation: overlay-animate 2s ease;
}

.intro__content{
    z-index: 99999;
}

.intro-button{
    margin: auto;
}

.intro-logo{
    text-align: center;
}

.intro-details{
    margin-top: 5%;
}

.intro-logo__color{
    background: -webkit-linear-gradient(left top, #A0F, #F00);
    -webkit-background-size: 150% 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animate 2s ease infinite;
}

.intro-span{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,1);  
    animation: overlay-animate 1s;
}

.intro-display-mobile{
    display: none;
}

.intro-display-mobile__details{
    font-size: 3.3vw;
}

/*------------GIFS-------------*/

#gif__conainer{
    max-width: 100vw;
}

.gif__image{
    width: 50vw;
    height: 42.5vh;
    float: left;
    display: inline;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 1;
    animation: opacity-animate 0.7s cubic-bezier(1,.01,.65,1) ;
}

.gif__image--line{
    width: 25vw;
    height: 85vh;
    animation: opacity-animate--line 0.7s cubic-bezier(1,.01,.65,1) ;
}


/*--------GAME MECHANINC----------*/

.timer-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    background: -webkit-linear-gradient(left, #A0F, #F00);
    z-index: 1;
    transition: 0.2s ease;
    box-shadow: 0px 0px 10px #444;
}

input{
    float: left;
}



.gif__answer-text{
    background: none;
    border: none;
    padding-top: 2.4vh;
    padding-left: 2.4vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 6vh;
    font-weight: 600;
    width: auto;
    color: white;
}

form{
    height: 0;
}

input:focus {
   outline:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #444;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #444;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #444;
}
:-moz-placeholder { /* Firefox 18- */
  color: #444;
}


@keyframes point-animate {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes overlay-animate {
    from {opacity: 0; padding-top: 20px;}
    to {opacity: 1; padding-top: 0; }
}

@keyframes opacity-animate {
    from {opacity: 0; height: 0;}
    to {opacity: 1; height: 42.5vh;}
}

@keyframes opacity-animate--line {
    from {opacity: 0; height: 0;}
    to {opacity: 1; height: 85vh;}
}

@keyframes opacity-animate-sm {
    from {opacity: 0; height: 0;}
    to {opacity: 1; height: 21.25vh;}
}

@keyframes image-animate {
    from {opacity: 0; transform: scale(0.4);}
    to {opacity: 1; transform: scale(1);}
}

@keyframes gradient-animate { 
    0%{background-position:0% 30%}
    50%{background-position:100% 71%}
    100%{background-position:0% 30%}
}

/*----------SCOREBOARD----------*/

.scoreboard{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 15vh;
}

.scoreboard__info{
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #444;
    margin-bottom: 5vh;
    margin-right: 11vh;
    font-size: 1.8vh;
    letter-spacing: 0.4vh;
    font-weight: 400;
}

.scoreboard__value-h5{
    position: absolute;
    margin: 0;
    bottom: -3vh;
    right: 0;
    padding-right: 17vh;
    font-size: 11vh;    
    background: -webkit-linear-gradient(left top, #A0F, #F00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.scoreboard__button{
    display: none;
    width: 8.5vh;
    height: 8.5vh;
    opacity: 0.15;
    margin-top: 4vh;
    margin-right: 2vh;
    transition: 0.2s ease;
}

.scoreboard__button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.scoreboard__button--show{
    display: block;
}


/*-----------OVERLAY------------*/

.overlay{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.85);
    z-index: -1;
    opacity: 1;
    animation: overlay-animate 0.3s ease ;
}

.points-overlay__title{
    background-color: rgba(255,255,255,0.1);
    padding: 0 22px;
    border-radius: 40px;
    font-size: 20px;
}

.points-overlay{
    font-size: 40px;
}


/*--------LEADERBOARD--------*/


.leaderboard__table{
    color: white;
    border-collapse: collapse;
    border: 0;
}

.leaderboard__table tr{
    border-bottom: solid 1px rgba(255,255,255,0.2);
}

.leaderboard__table tr:first-child{
    background: -webkit-linear-gradient(left top, #A0F, #F00);
    -webkit-background-size: 150% 150%;
    animation: gradient-animate 2s ease infinite;
    border-bottom: none;
}


.leaderboard__table tr td:first-child{
    text-align: left;
    padding: 0px 25px;
    border-radius: 40px 0 0 40px;
    width: 75%;
    font-size: 18px;
}

.leaderboard__table tr td:last-child{
    font-weight: 600;
    font-size: 30px;
    padding-right: 25px;
    border-radius: 0 40px 40px 0;
    width: 25%;
    text-align: right;
}

.leaderboard__table td, .leaderboard__table th{
    border: 0;
}



.leaderboard__input-title{
    font-size: 12px;
    color: white;
}

.leaderboard__input-title--button{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
}

.leaderboard__input-title--button:hover{
    color: #A0F;
}

.leaderboard__input-name{
    background-color: rgba(255,255,255,0.1);
    padding: 0 22px;
    border-radius: 40px;
    height: 40px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
}

/*---------CREDITS-----------*/

.credits{
    position: fixed;
    transform: rotate(-90deg);
    bottom: 115px;
    right: -90px;
}

.credits p{
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.credits a{
    color: white;  
}

.giphy-badge{
    position: fixed;
    bottom: 20px;
    right: 40px;
    height: 100px;
    animation: image-animate 1s ease;
}

/*---------BREAKPOINT-----------*/

@media (max-width:767px) { 
    h1{
        font-size: 10vw;
        letter-spacing: 0.4vw;
    }
    
    .intro-punchline{
        font-size: 3.3vw;    
    }
    
    .gif__image{
        width: 100vw;
        height: 21.25vh;
        animation: opacity-animate-sm 0.7s cubic-bezier(1,.01,.65,1) ;
    }
    
    .giphy-badge{
        height: 60px;
        right: 30px;
    }
    
    .credits p{
        font-size: 8px;
    }
    
    .credits{
        bottom: 100px;
        right: -80px;
    }
    
}

@media (max-width:600px) { 
    .scoreboard{
        display: none;
    }
    
    .gif__answer-text{
        width: 90vw;
    }
}
/*--------utilities---------*/

.hide{
    display: none;
}

.show{
    display: block;
}

.m-t-0{
    margin-top: 0;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-20{
    margin-top: 20px;
}

.m-t-40{
    margin-top: 40px;
}

.m-t-60{
    margin-top: 60px;
}

.m-t-10vh{
    margin-top: 10vh;
}

.m-l-10{
    margin-left: 10px;
}